<div class="row">
    <div class="width: 80%">
        <div class="fb-page" data-href="https://www.facebook.com/clubajedreztomelloso/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/clubajedreztomelloso/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/clubajedreztomelloso/">Ajedrez Tomelloso</a></blockquote></div>
    </div>
</div>-->
<div class="row">
    <script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/f0a85e50ac2c5b51bdebb0f9d3869bf7.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 80%; border: 0; overflow: hidden;"></iframe>
</div>