    <footer class="site-footer clearfix">
        <section id="sponsors" />
            <div class="sponsors">
                <div class="patrocinadores" id="manchegosdental">
                    <a href="http://manchegosprotesisdental.es/" target="_blank" >
                        <img id="imgPatrocinador" src="{{.Site.BaseURL}}/images/patrocinadores/ManchegosDental.png" class="right" />
                    </a>
                </div>
                <div class="patrocinadores" id="marquinetti">
                    <a href="http://marquinetti.com/" target="_blank">
                        <img id="imgPatrocinador" src="{{.Site.BaseURL}}/images/patrocinadores/Marquinetti.jpg" class="right" />
                    </a>
                </div>
                <div class="patrocinadores" id="logopediaestherbello">
                    <a href="http://www.citiservi.es/ciudad-real/esther-bello-gonzalez-tomelloso__2662995_477.html" target="_blank">
                        <img id="imgPatrocinador" src="{{.Site.BaseURL}}/images/patrocinadores/LogopediaEstherBello.jpg" class="right" />
                    </a>
                </div>
                <div class="patrocinadores" id="autoescuelaparaiso">
                    <a href="https://www.facebook.com/Para%C3%ADso-Vial-Autoescuela-321899738172355/" target="_blank">
                        <img id="imgPatrocinador" src="{{.Site.BaseURL}}/images/patrocinadores/AutoescuelaParaiso.jpg" class="right" />
                    </a>
                </div>
                <div class="patrocinadores" id="globalasesores">
                    <a href="http://www.globalasesores2012.es/" target="_blank">
                        <img id="imgPatrocinador" src="{{.Site.BaseURL}}/images/patrocinadores/GlobalAsesores.jpg" class="right" />
                    </a>
                </div>
                <div class="patrocinadores" id="tirado">
                    <a href="http://www.conabogados.es/empresa/tirado-ramirez-menchen-tomelloso-4194547/" target="_blank">
                        <img id="imgPatrocinador" src="{{.Site.BaseURL}}/images/patrocinadores/TiradoRamirezMenchen.jpg" class="right" />
                    </a>
                </div>
                <div class="patrocinadores" id="tecconlahoz">
                    <a href="http://www.tecconlahoz.es/" target="_blank" >
                        <img id="imgPatrocinador" src="{{.Site.BaseURL}}/images/patrocinadores/TecconLahoz.jpg" class="right" />
                    </a>
                </div>
                <div class="patrocinadores" id="zarcodaza">
                    <a href="http://www.citiservi.es/ciudad-real/pilar-zarco-daza-tomelloso__2760012_477.html" target="_blank" >
                        <img id="imgPatrocinador" src="{{.Site.BaseURL}}/images/patrocinadores/zarcodaza.jpg" class="right" />
                    </a>
                </div>
                <div class="patrocinadores" id="mondemaartesanos">
                    <a href="http://mondemaartesanos.es/" target="_blank" >
                        <img id="imgPatrocinador" src="{{.Site.BaseURL}}/images/patrocinadores/MondemaArtesanos.png" class="right" />
                    </a>
                </div>
                <div class="patrocinadores" id="floresalba">
                    <a href="https://11870.com/pro/flores-alba-1" target="_blank" >
                        <img id="imgPatrocinador" src="{{.Site.BaseURL}}/images/patrocinadores/FloresAlba.png" class="right" />
                    </a>
                </div>
                <div class="patrocinadores" id="deportescronos">
                    <a href="http://www.deportescronos.com/" target="_blank" >
                        <img id="imgPatrocinador" src="{{.Site.BaseURL}}/images/patrocinadores/cronos.jpg" class="right" />
                    </a>
                </div>
            </div>
        </section>
        <section class="footer-down">
            <section class="copyright">
                <div>
                    Club Ajedrez Tomelloso © 2017
                </div>
                <div>
                    <a href="http://www.twitter.com/tomellosochess" target="_blank" class="social-buttons twitter">
                        <span class="fa fa-twitter"></span>
                    </a>
                    <a href="https://www.facebook.com/ajedrez.tomelloso" target="_blank" class="social-buttons facebook">
                        <span class="fa fa-facebook"></span>
                    </a>
                    <a href="https://www.instagram.com/ajedreztomelloso/" target="_blank" class="social-buttons instagram">
                        <span class="fa fa-instagram"></span>
                    </a>
                    <a href="mailto:clubajedreztomelloso@gmail.com?Subject=Hola" target="_top" class="social-buttons mail">
                        <span class="fa fa-envelope-o"></span>
                    </a>
                </div>
                {{if ne .Site.Params.hideHUGOSupport true}}
                    <div>Proudly generated by <a class="icon-hugo" href="http://gohugo.io">HUGO</a>, with <a class="icon-theme" href="https://github.com/vjeantet/hugo-theme-casper">Casper</a> theme</section>
                {{end}}
            </section>
        </section>
    </footer>
    </div>
    <script type="text/javascript" src="{{.Site.BaseURL}}js/jquery.js"></script>
    <script type="text/javascript" src="{{.Site.BaseURL}}js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="{{.Site.BaseURL}}js/index.js"></script>
    {{ if .Site.Params.customFooterPartial }}
        {{ partial .Site.Params.customFooterPartial . }}
    {{ end }}
</body>
</html>
