<div class="row">
    <div class="widget-taglist widget">
            <h3 class="widget__title">Próximos Torneos</h3>
            <ul>
                <li>
                <div><a href="http://www.ajedreztomelloso.com/post/iictorelampagoequipos/"> Campeonato Regional Blitz Equipos Tomelloso 25 de agosto </a> </div>
                <a href="http://view.livechesscloud.com/502e6196-9342-446a-a268-7eb76c323f97"> Retransmisión en Directo </a>
                </li>
            </ul>
        <h3 class="widget__title">Torneos finalizados</h3>
        <ul>
                    <li>
                        <a href="{{ $.Site.BaseURL }}post/clubajedreztomellosoviernes/">Torneos Club Ajedrez Tomelloso</a>
                    </li>
                <li>
                        <a href="{{ $.Site.BaseURL }}post/regionalabsoluto2018">Regional Absoluto</a>
                    </li>
                    <li>
                            <a href="{{ $.Site.BaseURL }}post/regionaledades2018">II Memorial Pedro Camacho</a>
                        </li>
                <li>
                        <a href="{{ $.Site.BaseURL }}post/ctocolegiosespana2018">V Campeonato de España por Colegios</a>
                    </li>
           
            <li>
                <a href="{{ $.Site.BaseURL }}post/ctoprovincialequiposs12s18final/">Provincial Sub-12 y Sub-18 por equipos</a>
            </li>
        </ul>
        <h3 class="widget__title">Nuestros Autores</h3>
        <ul>
            <li>
                <a href="{{ $.Site.BaseURL }}tag/albertomartinez">Alberto Martínez Cebolla</a>
            </li>
            <li>
                <a href="{{ $.Site.BaseURL }}tags/angelcarlos">Ángel Carlos López Quevedo</a>
            </li>
            <li>
                <a href="{{ $.Site.BaseURL }}/tags/angelluis">Ángel Luis López Barrios</a>
            </li>
            <li>
                <a href="{{ $.Site.BaseURL }}/tags/carlosgarcia">Carlos García Moreno</a>
            </li>
            <li>
                <a href="{{ $.Site.BaseURL }}tags/joseramonramirez">José Ramón Ramírez Díaz</a>
            </li>
            <li>
                <a href="{{ $.Site.BaseURL }}tags/juancarlosdominguez">Juan Carlos Domínguez Gutiérrez</a>
            </li>
            <li>
                <a href="{{ $.Site.BaseURL }}tags/joseramonramirez">Paco Ramírez Menchén</a>
            </li>
        </ul>
        <h3 class="widget__title">Tipos de Torneos</h3>
        <ul>
            <li>
                <a href="{{ $.Site.BaseURL }}tags/espana">Campeonatos de España</a>
            </li>
            <li>
                <a href="{{ $.Site.BaseURL }}tags/regional">Campeonatos Regionales</a>
            </li>
            <li>
                <a href="{{ $.Site.BaseURL }}/tags/provincial">Campeonatos Provinciales</a>
            </li>
            <li>
                <a href="{{ $.Site.BaseURL }}/tags/absoluto">Campeonatos Absolutos</a>
            </li>
            <li>
                <a href="{{ $.Site.BaseURL }}tags/sub">Campeonatos Subs</a>
            </li>
            <li>
                <a href="{{ $.Site.BaseURL }}tags/equipos">Campeonatos por Equipos</a>
            </li>
        </ul>
        <h3 class="widget__title">Tipos de Artículos</h3>
        <ul>
            <li>
                <a href="{{ $.Site.BaseURL }}tags/relato">Relatos</a>
            </li>
            <li>
                <a href="{{ $.Site.BaseURL }}tags/articulo">Artículos Técnicos</a>
            </li>
            <li>
                <a href="{{ $.Site.BaseURL }}/tags/entrevista">Entrevistas</a>
            </li>
            <li>
                <a href="{{ $.Site.BaseURL }}/tags/problemas">Problemas</a>
            </li>
            <li>
                <a href="{{ $.Site.BaseURL }}tags/educacion">Educación</a>
            </li>
            <li>
                <a href="{{ $.Site.BaseURL }}tags/historia">Historia</a>
            </li>
        </ul>
        <h3 class="widget__title">Etiquetas</h3>
        <div class="widget__content">
            {{- range $name, $items := $.Site.Taxonomies.tags }}
            <a class="widget__link widget__link--taglist" href="{{ $.Site.BaseURL }}tags/{{ $name | urlize | lower }}" title="{{ $name }}">{{ $name }}{{ if $.Site.Params.widgets.tags_counter }} ({{ $items.Count }}){{ end }}</a>
            {{- end }}
        </div>
    </div>
</div>