<header class="top-header">
    <nav class="nav-shadow">
        <div class="row logo-header-xs content">
            <div class="logo logo-xs" style="float: right">
                <img src="{{.Site.BaseURL}}{{ .Site.Params.logo }}" class="logo-tomelloso" />
            </div>
        </div>
        <div class="row">
            <div class="content">
                <div class="col-xs-8 col-md-4 col-actions">
                    <div class="top-actions">
                        <ul class="big-links">
                            <li><a href="{{ .Site.BaseURL }}">Home</a></li>
                            <li><a href="{{ .Site.BaseURL }}/interescolarhistorico">Interescolar</a></li>
                            <li><a href="{{ .Site.BaseURL }}patrocinadores">Patrocinadores</a></li>
                            <li><a href="{{ .Site.BaseURL }}lista_elo">Elo</a></li>
                            <li><a href="{{ .Site.BaseURL }}enlaces-de-interes">Enlaces</a></li>
                        </ul>
                        <ul class="small-links">
                            <li><a href="{{ .Site.BaseURL }}" title="Home"><i class="fa fa-home"></i></a></li>
                            <li><a href="{{ .Site.BaseURL }}/interescolar2017" title="Interescolar"><i class="fa fa-sun-o" ></i></a></li>
                            <li><a href="{{ .Site.BaseURL }}/patrocinadores" title="Patrocinadores"><i class="fa fa-handshake-o"></i></a></li>
                            <li><a href="{{ .Site.BaseURL }}/enlaces-de-interes" title="Enlaces de Interés"><i class="fa fa-link"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 hidden-lg hidden-md">

                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 logo text-center logo-big">
                    <a href="{{ .Site.BaseURL }}">
                        <div class="fillheadersponsor">
                            <img src="{{.Site.BaseURL}}{{ .Site.Params.logo }}" class="logo-tomelloso" />
                        </div>
                    </a>
                </div>
                <div class="col-xs-6 col-md-4 col-sm-4 sponsors-slider">
                    <div class="patrocinadores" id="manchegosdental">
                        <a href="http://manchegosprotesisdental.es/" target="_blank" >
                            <div class="fillheadersponsor">
                                <img id="imgPatrocinador" src="{{.Site.BaseURL}}/images/patrocinadores/ManchegosDental.png" class="right" />
                            </div>
                        </a>
                    </div>
                    <div class="patrocinadores" id="marquinetti">
                        <a href="http://marquinetti.com/" target="_blank">
                            <div class="fillheadersponsor">
                                <img id="imgPatrocinador" src="{{.Site.BaseURL}}/images/patrocinadores/Marquinetti.png" class="right" />
                            </div>
                        </a>
                    </div>
                    <div class="patrocinadores" id="floresalba">
                        <a href="https://11870.com/pro/flores-alba-1" target="_blank">
                            <div class="fillheadersponsor">
                                <img id="imgPatrocinador" src="{{.Site.BaseURL}}/images/patrocinadores/FloresAlba.png" class="right" />
                            </div>
                        </a>
                    </div>
                    <div class="patrocinadores" id="autoescuelaparaiso">
                        <a href="http://evapago.wixsite.com/paraisovial" target="_blank">
                            <div class="fillheadersponsor">
                                <img id="imgPatrocinador" src="{{.Site.BaseURL}}/images/patrocinadores/AutoescuelaParaiso.png" class="right" />
                            </div>
                        </a>
                    </div>
                    <div class="patrocinadores" id="globalasesores">
                        <a href="http://www.globalasesores2012.es/" target="_blank">
                            <div class="fillheadersponsor">
                                <img id="imgPatrocinador" src="{{.Site.BaseURL}}/images/patrocinadores/GlobalAsesores.png" class="right" />
                            </div>
                        </a>
                    </div>
                    <div class="patrocinadores" id="tirado">
                        <a href="{{.Site.BaseURL}}/patrocinadores/#tiradomenchenabogados" target="_blank">
                            <div class="fillheadersponsor">
                                <img id="imgPatrocinador" src="{{.Site.BaseURL}}/images/patrocinadores/TiradoRamirezMenchen.png" class="right" />
                            </div>
                        </a>
                    </div>
                    <div class="patrocinadores" id="tecconlahoz">
                        <a href="http://www.tecconlahoz.es/" target="_blank" >
                            <div class="fillheadersponsor">
                                <img id="imgPatrocinador" src="{{.Site.BaseURL}}/images/patrocinadores/TecconLahoz.png" class="right" />
                            </div>
                        </a>
                    </div>
                    <div class="patrocinadores" id="manchegosdental">
                        <a href="http://manchegosprotesisdental.es/" target="_blank" >
                            <div class="fillheadersponsor">
                                <img id="imgPatrocinador" src="{{.Site.BaseURL}}/images/patrocinadores/ManchegosDental.png" class="right" />
                            </div>
                        </a>
                    </div>
                    <div class="patrocinadores" id="deportescronos">
                        <a href="http://www.deportescronos.com/" target="_blank" >
                            <div class="fillheadersponsor">
                                <img id="imgPatrocinador" src="{{.Site.BaseURL}}/images/patrocinadores/cronos.png" class="right" />
                            </div>
                        </a>
                    </div>
                    <div class="patrocinadores" id="juanjolosa">
                        <a href="http://bufetelosa.com/" target="_blank" >
                            <div class="fillheadersponsor">
                                <img id="imgPatrocinador" src="{{.Site.BaseURL}}/images/patrocinadores/juanjolosa.png" class="right" />
                            </div>
                        </a>
                    </div>
                    <div class="patrocinadores" id="mondemaartesanos">
                        <a href="http://mondemaartesanos.es/" target="_blank" >
                            <div class="fillheadersponsor">
                                <img id="imgPatrocinador" src="{{.Site.BaseURL}}/images/patrocinadores/MondemaArtesanos.png" class="right" />
                            </div>
                        </a>
                    </div>
                    <div class="patrocinadores" id="pedroche">
                        <a href="https://www.construccionespecial.com/empresa-escayolas-pedroche-en-tomelloso-22871" target="_blank" >
                            <div class="fillheadersponsor">
                                <img id="imgPatrocinador" src="{{.Site.BaseURL}}/images/patrocinadores/pedroche.png" class="right" />
                            </div>
                        </a>
                    </div>
                    <div class="patrocinadores" id="zarcodaza">
                        <a href="http://www.citiservi.es/ciudad-real/pilar-zarco-daza-tomelloso__2760012_477.html" target="_blank" >
                            <div class="fillheadersponsor">
                                <img id="imgPatrocinador" src="{{.Site.BaseURL}}/images/patrocinadores/zarcodaza.jpg" class="right" />
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<script type="text/javascript">
    var patrocinadores = ['floresalba', 'deportescronos', 'globalasesores', 'juanjolosa', 'manchegosdental', 'marquinetti', 'mondemaartesanos', 'autoescuelaparaiso', 'pedroche', 'tirado', 'tecconlahoz', 'zarcodaza'];

    var seconds = new Date().getTime() / 1000;
    var value = Math.trunc(seconds);
    console.log(value);
    var selected = value % 12;
    console.log(selected);

    
    $("#" + patrocinadores[selected]).css("display", "block").css("top", "-10px").css("opacity", "1");

    $( document ).ready(function() {
        console.log( "ready!" );
        SetTimeOutPatrocinador();    
    });

    function SetTimeOutPatrocinador() {
        setTimeout(function() {
            let previous = selected;
            if(selected < 11) {
                selected++;
            }
            else {
                selected = 0;
            }
            $("#" + patrocinadores[previous]).animate({ opacity: 0 }, 0);
            $("#" + patrocinadores[previous]).fadeOut();
            $("#" + patrocinadores[selected]).fadeIn();
            $("#" + patrocinadores[selected]).animate({ opacity: 1, top: "-10px" }, 'slow');
            SetTimeOutPatrocinador();
        }, 10000);
    }

</script>