{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}


<header class="main-header no-cover" style="background-image: url({{.Site.BaseURL}}{{.Site.Params.cover}})">
    <div class="vertical">
        <div class="main-header-custom">
            <h1 class="page-title">Páginas con Etiqueta: {{.Title}}</h1>
            <h2 class="page-description">
                {{if .Params.description}}
                    {{.Params.description}}
                {{end}}
            </h2>
        </div>
    </div>
</header>

<main class="content" role="main">
    {{ $paginator := .Paginator }}

    <div class="extra-pagination inner">
        {{ partial "pagination.html" $paginator }}
    </div>

    <div class="row" style="width: 100%">
        <div class="col-xs-12 col-md-8">
        {{ range $index, $page := $paginator.Pages }}
            {{ partial "li.html" . }}
        {{ end }}
        {{ partial "pagination.html" $paginator }}
        </div>
        <div class="hidden-xs hidden-sm col-md-4">
            <div class="row">
                <div class="widget-taglist widget">
                    <h3 class="widget__title">Tags</h4>
                    <div class="widget__content">
                        {{- range $name, $items := .Site.Taxonomies.tags }}
                        <a class="widget__link widget__link--taglist" href="{{ $.Site.BaseURL }}tags/{{ $name | urlize | lower }}" title="{{ $name }}">{{ $name }}{{ if $.Site.Params.widgets.tags_counter }} ({{ $items.Count }}){{ end }}</a>
                        {{- end }}
                    </div>
                </div>
            </div>
            {{ partial "column.html" }}
        </div>
    </div>
</main>



{{ partial "footer.html" . }}